#!/bin/bash

JAVA_OPTS="-Xms256M -Xmx2048M"
PROCESS_CONTROLLER_JAVA_OPTS="\$JAVA_OPTS"
HOST_CONTROLLER_JAVA_OPTS="\$JAVA_OPTS"
export LANG=hu_HU

for PROP in ${JBOSS_HOME}/domain-controller/configuration/properties/*.properties
do
    cat \$PROP > ${JBOSS_HOME}/domain-controller/configuration/wildfly.properties
done
