# Wildfly init script configuration file
# default location: /etc/default/wildfly-{{ wildfly_instance_name }}

## Location of WildFly
JBOSS_HOME="{{ wildfly_link_dir if wildfly_create_symlink else wildfly_dir }}"

## The username who should own the process.
JBOSS_USER="{{ wildfly_user }}"

## The mode WildFly should start, standalone or domain
JBOSS_MODE={{ wildfly_mode }}

JBOSS_DOMAIN_CONFIG={{ wildfly_config_file }}
JBOSS_HOST_CONFIG=host-master.xml

{% if wildfly_startup_wait %}
## The amount of time to wait for startup
STARTUP_WAIT={{ wildfly_startup_wait }}

{% endif %}
{% if wildfly_shutdown_wait  %}
## The amount of time to wait for shutdown
SHUTDOWN_WAIT={{ wildfly_shutdown_wait }}

{% endif %}
## Location to keep the console log
JBOSS_CONSOLE_LOG="{{ wildfly_console_dc_log }}"

# Need to modify the init script to account for JBOSS_OPTS
# Allows us to pass system properties to WildFly
JBOSS_OPTS="-P={{ wildfly_conf_dir }}/wildfly.properties"

{% if wildfly_java_home  %}
## Location of Java home
SHUTDOWN_WAIT={{ wildfly_java_home }}

{% endif %}
