# System properties for wildfly
jboss.bind.address={{ wildfly_bind_address }}
jboss.bind.address.management={{ wildfly_management_bind_address }}
{% if wildfly_bind_address_unsecure %}
jboss.bind.address.unsecure={{ wildfly_bind_address_unsecure }}
{% endif %}
{% if wildfly_bind_address_private %}
jboss.bind.address.private={{ wildfly_bind_address_private }}
{% endif %}

jboss.http.port={{ wildfly_http_port }}
jboss.https.port={{ wildfly_https_port }}

{% if wildfly_dc_backup_mode or wildfly_dc_cached_mode %}
jboss.management.http.port={{ wildfly_management_http_port }}
jboss.management.https.port={{ wildfly_management_https_port }}
jboss.management.native.port={{ wildfly_management_port }}
{% endif %}

jboss.server.temp.dir={{ wildfly_download_dir }}

jboss.domain.master.address={{ wildfly_master_address }}
jboss.domain.master.port={{ wildfly_master_http_port }}

{% if wildfly_modcluster_address %}
jboss.default.modcluster.address={{ wildfly_modcluster_address }}
{% endif %}
{% if wildfly_modcluster_address %}
jboss.modcluster.multicast.address={{ wildfly_modcluster_address }}
{% endif %}
{% if wildfly_multicast_address %}
jboss.default.multicast.address={{ wildfly_multicast_address }}
{% endif %}
jboss.domain.base.dir={{ wildfly_link_dir if wildfly_create_symlink else wildfly_dir }}/{{ wildfly_mode }}
{% if wildfly_data != '' %}
jboss.server.data.dir={{ wildfly_data }}
{% endif %}
