[Unit]
Description=WildFly {{ wildfly_mode }} {{ wildfly_system_name }} application server
After=syslog.target network.target
Before=httpd.service

[Service]
Type=simple
Environment=LAUNCH_JBOSS_IN_BACKGROUND=1
Environment=WILDFLY_HOME={{ wildfly_base }}
{% if wildfly_system_integration %}
Environment=JBOSS_CONF={{ wildfly_conf_dir }}/{{ wildfly_instance_name }}.conf
{% else %}
Environment=JBOSS_CONF={{ wildfly_base }}/domain/configuration/{{ wildfly_instance_name }}.conf
{% endif %}

User={{ wildfly_user }}
Group={{ wildfly_group }}

PIDFile={% if wildfly_system_integration %}/var/run/wildfly/{{ wildfly_instance_name }}.pid{% else %}{{ wildfly_var_dir}}/pid/{{ wildfly_instance_name }}.pid{% endif %}

LimitNOFILE={{ wildfly_limits_conf.1.value }}
OOMScoreAdjust=-1000
ExecStart=/bin/sh -c 'exec {{ wildfly_base }}/bin/launch.sh domain node >> {{ wildfly_console_log }} 2>&1'

[Install]
WantedBy=multi-user.target
