# Wildfly init script configuration file
# default location: /etc/default/wildfly-{{ wildfly_instance_name }}

## Location of WildFly
JBOSS_HOME="{{ wildfly_link_dir if wildfly_create_symlink else wildfly_dir }}"

## The username who should own the process.
JBOSS_USER="{{ wildfly_user }}"

## The mode WildFly should start, standalone or domain
JBOSS_MODE="{{ wildfly_mode }}"

{% if wildfly_mode == 'standalone'  %}
## Configuration for standalone mode
JBOSS_CONFIG="{{ wildfly_config_file }}"
{% else %}
JBOSS_DOMAIN_CONFIG={{ wildfly_config_file }}
{% if wildfly_role == 'domain-master'  %}
JBOSS_HOST_CONFIG="host-master.xml"
{% elif wildfly_role == 'domain-slave' or wildfly_role == 'domain-master-slave' %}
JBOSS_HOST_CONFIG="host-slave.xml"
{% else %}
JBOSS_HOST_CONFIG="host.xml"
{% endif %}
{% endif %}

{% if wildfly_startup_wait %}
## The amount of time to wait for startup
STARTUP_WAIT={{ wildfly_startup_wait }}

{% endif %}
{% if wildfly_shutdown_wait  %}
## The amount of time to wait for shutdown
SHUTDOWN_WAIT={{ wildfly_shutdown_wait }}

{% endif %}
## Location to keep the console log
JBOSS_CONSOLE_LOG="{{ wildfly_console_log }}"

# Need to modify the init script to account for JBOSS_OPTS
# Allows us to pass system properties to WildFly
JBOSS_OPTS="-P={{ wildfly_link_dir if wildfly_create_symlink else wildfly_dir }}/domain/configuration/wildfly.properties"

{% if wildfly_java_home  %}
## Location of Java home
JAVA_HOME="{{ wildfly_java_home }}"

{% endif %}
JBOSS_PIDFILE="{% if wildfly_system_integration %}/var/run/wildfly/{{ wildfly_instance_name }}.pid{% else %}{{ wildfly_var_dir}}/pid/{{ wildfly_instance_name }}.pid{% endif %}"
JBOSS_LOCKFILE="{% if wildfly_system_integration %}/var/lock/subsys/{{ wildfly_instance_name }}{% else %}{{ wildfly_var_dir}}/lock/{{ wildfly_instance_name }}{% endif %}"

export JAVA_HOME="${JAVA_HOME}"
export PATH="${JAVA_HOME}/bin:${PATH}"
export JBOSS_DOMAIN_DIR="${JBOSS_HOME}/{{ wildfly_mode }}"
export DOMAIN_CONF="${JBOSS_HOME}/domain/configuration/domain.conf"
